# Virtual environment
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# FAISS vector database
vector_db/

# Uploaded files
data/uploads/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints